.card-header h5 {
	font-weight: bold;
}

.main-content {
	display: flex;
	justify-content: center;
}

.AppsDropdown {
	width: 400px;
	max-height: 100px;
	border: 1px solid #d1d3e2;
	border-radius: 0.35rem;
	padding: 2px 4px;
	overflow-x: hidden;
}
