.text-area {
	width: 60%;
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 15px 15px;
	margin-right: auto;
	margin-left: auto;
}

h1.FaillesTitle {
	width: 100%;
	background: #dbeef4;
	padding: 2px 20px;
	text-align: center;
	font-weight: bold;
	color: rgb(63, 59, 59);
	border-radius: 30px;
}

.btn-retour,
.filtre .right,
.main-content,
.grid-content {
	display: flex;
	justify-content: center;
}

.filtre {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 20px;
}

a {
	color: white;
	text-decoration: none;
}
